

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 30px;

    background-color: black;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
}

.header li {
    display: inline;
    margin-left: 10px;
}



