
.right{
    float: right;
    width: 20%;
}

.left{
    float: left;
    width: 80%;
}


.overview_product {
    float: left;
    padding: 0 0 0 0;
}

.user_product{
    padding: 0 0 0 0;
}

.user_product * {
    float: left;
}

.product {
    width: 150px;
    height: 300px;
    vertical-align: top;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.product:hover {
    width: 170px;
    height: 320px;
    padding: 10px 10px 10px 10px;
}

.product * {
    width: 100%;
}
 
.recommendet_products {
    /*background: rgba(74, 245, 59, 0.20);*/
    background: rgba(0, 255, 0, 0.50);
}


