


.right{
    float: right;
    width: 20%;
}

.left{
    float: left;
    width: 80%;
}

.overview_products {
    /* border: 3px black solid;*/
    padding: 0 0 0 0;
}

.overview_products li {
    /* display: inline; */
}

.overview_product {
    float: left;
}

.recommendet_products {

}


.product:hover{
    width: 170px;
    height: 320px;
    padding: 10px 10px 10px 10px;
}

.product {

    /*background: green;*/

    width: 150px;
    height: 300px;
    vertical-align: top;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    /*border: 1px black solid;*/
}

.product * {
    width: 100%;
}
 



