
.showwindow {
    
}


.showwindow * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.ratingbar {
    width: 200px;
    height: 40px;
    list-style-type: none;
    margin: auto;
    padding: 0 0 0 0;
    /*
    padding: auto;
    */
}

ul.ratingbar li{
    /*
    width: 80px;
    height: 80px;
    */

    /*
    display: inline;
    */

    /*
    margin-left: 10px;
    margin-right: 10px;
    */
}

.positive{
}

.positive * { 

    float: right;

    width: 0;
    height: 0;

    display: inline;

    padding: 0 0 0 0;
    margin: 0 0 0 0;

    border-top: 0px solid transparent;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid green;
}

.positive:active * {
    border-bottom: 40px solid darkgreen;
}

.negative {
}

.negative * {
    float: left;

    width: 0;
    height: 0;

    display: inline;

    padding: 0 0 0 0;
    margin: 0 0 0 0;

    border-top: 40px solid red;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 0px solid transparent;
}

.negative:active * {
    border-top: 40px solid darkred;
}

