
# editor files
*.swp
*~

# Makefiles
_Makefile

#latex files
*.aux
*.log
*.out
*.toc

*.bbl
*.blg
*.lof
*.pdf
*.svg

*.lol
*.lot

# uml editor files
*.dia.autosave

# python files
*.pyc
__pycache__/

# latex output files
docs/**/inc/**/*.pdf
docs/information_retrieval/ir_info.pdf
docs/information_retrieval/inc/table_design/*.png
docs/**/inc/**/*.svg

impl/database/
impl/product_data/img
impl/build
impl/test

# online shop
impl/onlineshop/public/images/
impl/onlineshop/public/javascripts/
impl/onlineshop/node_modules/

books/*/

*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
