

*.swp
*~

*.aux
*.log
*.out
*.toc

*.dia.autosave

*.pyc

docs/**/*.aux
docs/**/*.log
docs/**/*.out
docs/**/inc/**/*.pdf
docs/information_retrieval/ir_info.pdf
docs/information_retrieval/inc/table_design/*.png
docs/**/inc/**/*.svg

impl/database/*
impl/playground/*
impl/database/example.db
impl/database/example.sql
impl/**/*.db
impl/**/*.pyc
impl/_build
impl/test



books

