

*.swp
*~

*.aux
*.log
*.out

*.dia.autosave

*.pyc

docs/**/*.aux
docs/**/*.log
docs/**/*.out
docs/**/inc/**/*.pdf
docs/**/*.png
docs/**/inc/**/*.svg

impl/database/example.db
impl/database/example.sql
impl/**/*.db
impl/**/*.pyc
impl/_build
impl/test


