doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.4.min.js')

    link(rel='stylesheet', href='/stylesheets/overview.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/debug.css')
    link(rel='stylesheet', href='/stylesheets/user.css')
  body

    if header
      ul.header
        li
          a(href=overview_url) Overview
        li
          a(href=user_url) User

        

    block content
