

extends layout

block content
  h1 Overview

  h2.right Recommendet products
    div.recommendet_products
      each val, index in recommendations
        div.recommendet_product.product
          a(
            href=val.product_url
          )
            img(
              src=val.image_path
            )

  h2.left Random products
    div.overview_products
      each val, index in random
        div.overview_product.product
          a(
            href=val.product_url
          )
            img(
              src=val.image_path
            )


